@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ccc;
  font-family: "Caveat", cursive;
  color: #fff;
  font-size: 36px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-basis: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.item:hover {
  flex-basis: 100%;
}
.item1 {
  background-image: url("img/Screenshot_1.jpg");
}

.item2 {
  background-image: url("img/Screenshot_2.jpg");
}
.item3 {
  background-image: url("img/Screenshot_3.jpg");
}
.item4 {
  background-image: url("img/Screenshot_4.jpg");
}

@media (max-width: 750px) {
  .slider {
    flex-direction: column;
    height: 100vh;
  }
  .item {
    width: 100%;
  }
}
